<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="static/eventteam.css"> 

</head>
<body class="bg-pink-50">
    <header class="flex justify-between items-center p-4 bg-white shadow">
        <h1 class="text-xl font-bold text-purple-800">Victoria & Ebuka</h1>
        <a class="text-purple-600" href="{{ url_for('rsvp') }}">RSVP</a>
        <a class="text-purple-600" href="{{ url_for('index') }}">HOME</a>
    </header>

   
   <section>
    <a href="speakers.html">
        <h5 style="color: purple;">Event Management Team</h5>
        <h3 style="color: purple;">Zion Global Event Handlers</h3>
    </a>
    <p>Meet the Team Handling the event</p>
   </section>

   <div class="container">
    <div class="grid">
        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/Zion.jpg') }}" width="300"/>
                <div class="flag-icon">
                    <i class="fas fa-flag"></i>
                </div>
            </div>
            <h2>Mazi Zion</h2>
            <p>FullStack Developer</p>
        </div>
        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/bobby.jpg') }}" width="300"/>
            </div>
            <h2>Ukwuoma Gerald</h2>
            <p>Ui/Ux Designer</p>
        </div>
        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/kene.jpg') }}" width="300"/>
            </div>
            <h2>Nduka Mmesoma</h2>
            <p>Web Designer</p>
        </div>
        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/footy.jpg') }}" width="300"/>
            </div>
            <h2>Footy Insider</h2>
            <p>Lead Designer</p>
        </div>
        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/victoria.jpg') }}" width="300"/>
            </div>
            <h2>Victoria-imaobong Solomon </h2>
            <p>Project Manager</p>
        </div>

        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/prosper.jpg') }}" width="300"/>
            </div>
            <h2>Oluchukwu Prosper </h2>
            <p>Backend Developer</p>
        </div>

        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/dave.jpg') }}" width="300"/>
            </div>
            <h2>Akobundu David Nkemd </h2>
            <p>Frontend Developer</p>
        </div>

        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/fortunata.jpg') }}" width="300"/>
            </div>
            <h2>Fortune Nkem</h2>
            <p>Frontend Developer</p>
        </div>

        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/manuel.jpg') }}" width="300"/>
            </div>
            <h2>Ezinwa Manuel</h2>
            <p>Backend Developer</p>
        </div>

        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/clint.jpg') }}" width="300"/>
            </div>
            <h2>Onuwkwe Ikenna Maurice Clinton</h2>
            <p>Product Tester</p>
        </div>

        <div class="speaker-card">
            <div class="image-container">
                <img  class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/light.jpg') }}" width="300"/>
            </div>
            <h2> Onyeukwu Light Onyeyirich</h2>
            <p>Designer</p>
        </div>

        <div class="speaker-card">
            <div class="image-container">
                <img class="rounded-lg shadow-lg" height="400" src="{{ url_for('static', filename='images/ebuka.jpg') }}" width="300"/>
            </div>
            <h2>Chukwuebuka Mbanefo</h2>
            <p>Lead Designer</p>
        </div>




   <footer>
    <div>
        © 2024 EbukawithVictoria. All rights reserved.
    </div>

   </footer>
</body>
</html>